.app{
    &__container{
        gap: 3rem;
    }
    .app__data{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    &__desc{
        text-align: center;
    }
    &__dowload{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    
}